




<footer class="footer fixed-bottom bg-dark py-3">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <a href="#"><i class="fab fa-twitter fa-2x mx-3">Twitter</i></a>
        <a href="#"><i class="fab fa-facebook fa-2x mx-3">LinkedIn</i></a>
        <a href="#"><i class="fab fa-instagram fa-2x mx-3">Discord</i></a>
      </div>
    </div>
  </div>
</footer>
<script>
   const darkModeSwitch = document.getElementById('dark-mode-switch');
const darkMode = localStorage.getItem('darkMode') === 'true';

console.log('Initial value of darkMode:', darkMode);

if (darkMode) {
  document.body.classList.add('dark-mode');
  document.querySelectorAll('.card').forEach(card => card.classList.add('dark-mode')); // add dark-mode class to all cards
  darkModeSwitch.checked = true;
}

darkModeSwitch.addEventListener('change', () => {
  if (darkModeSwitch.checked) {
    document.body.classList.add('dark-mode');
    document.querySelectorAll('.card').forEach(card => card.classList.add('dark-mode')); // add dark-mode class to all cards
    localStorage.setItem('darkMode', true);
  } else {
    document.body.classList.remove('dark-mode');
    document.querySelectorAll('.card').forEach(card => card.classList.remove('dark-mode')); // remove dark-mode class from all cards
    localStorage.setItem('darkMode', false);
  }

  console.log('Updated value of darkMode:', localStorage.getItem('darkMode') === 'true');
});

  </script>
  


<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>