<%- include("./partials/header.ejs")%>

<div class="container d-flex justify-content-center align-items-center flex-column" style="height: 100vh;">
  <h1 class="display-3 text-center mb-5">Welcome to the GPT Saver APP</h1>
</div>

<%- include("./partials/footer.ejs") %>
