<h1>Conversation Details</h1>

<div>
  <h3><%= conversation.prompt %></h3>
  <p><%= conversation.generated_text %></p> <!-- Display generated text -->
  <ul>
    <% responses.forEach(response => { %>
      <li><%= response.comment %></li>
    <% }) %>
  </ul>
  <label for="isFavourite">Is favourite:</label>
  <input type="checkbox" id="isFavourite" name="isFavourite">
  <form action="/users/conversation/<%= conversation.id %>/comments" method="POST">
    <label for="comment">Comment:</label>
    <textarea id="comment" name="comment" required></textarea>
    <br>
    <button type="submit">Add Comment</button>
  </form>
  <a href="/users/conversations"><button>Back to Conversations</button></a>
</div>

