<%- include('../partials/header.ejs') %>

<h2>Login account</h2>

<% if (message) { %>
 <p><%= message %></p>
<%} %>

<form class="row g-3" method="POST" action="/users/login">
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="col-md-6">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Log in</button>
    </div>
  </form>
  
  



<%- include('../partials/footer.ejs') %>